* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-image: url(../img/fondo.jpg);
    background-position: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------------- GRID --------------------*/

.contendor-grid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 23vh 7vh 30vh repeat(2, 50vh) 20vh 10vh;

    grid-template-areas:
        "header header"
        "h1 h1"
        "main main"
        "main main"
        "main main"
        "main main"
        "footer footer";
}

/* ---------------------HEADER----------------- */

header{
    background-color: rgba(172, 209, 151, 0.897);
    color: rgb(26, 33, 39);
    position: sticky;
    top: 0;
    z-index: 2;
    height: fit-content;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
}

nav{
    display: flex;
    align-items: center;
    grid-area: nav;
}

nav ul li a{
    color: rgb(15, 14, 24);
    font-size: 1rem;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

a:hover{
    color: coral;
}

/* ---------------- LOGO -------------------- */

.encabezado-imagen{
    display: flex;
    align-items: center;
}

/* ------------------ MAIN ------------------ */

#main-index{
    gap: 20px;
    padding: 20px;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 40% 27% 3%;
    grid-template-areas:
        "banner"
        "nosotros" 
        "aside"
        "subir";
}

/*------------------ TITULO H1 ------------------ */

#titulo{
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(184, 190, 202, 0.886);
    color: rgb(162, 113, 123);
    height: fit-content;
    margin: 1px;
    border-radius: 15px;
    border-bottom: solid 5px rgb(24, 18, 18);
    grid-area: h1;
}

/* -------------------BANNER INDEX--------------- */

.banner{
    background-image: url(../img/prevenir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap; 
    align-content:space-between;
    font-weight: bolder;
    grid-area: banner;
}

.banner h2{
    background-color: rgba(127, 219, 255, 0.253);
    font-size: 2.5rem;
}

.banner h2 span{
    color: rgb(92, 8, 8);
}

.banner-texto{
    color: hsl(240, 47%, 4%);
    background-color: rgba(127, 219, 255, 0.253);
    font-weight: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

/* -----------------NOSOTROS----------------- */

#seccion-nosotros{
    border-color: rgb(117, 114, 110);
    padding-top: 10px;
    grid-area: nosotros;
    display: flex;
    text-align: center;
    overflow: scroll;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-radius: 15px;
}

.nosotros__img img{
    padding: 20px;
    width: 100%;
}

.nosotros__titulo{
    background-color: rgba(116, 150, 97, 0.705);
    border-radius: 15px;
    border-bottom: solid 1px black;
    font-size: 2.5rem;
}

.nosotros__parrafo {
    color: rgb(15, 13, 13);
    font-weight: 600;
}

/* --------------------ASIDE------------------ */

.contenedor{
    border-color: rgb(117, 114, 110);
    padding-top: 10px;
    color: rgb(128, 79, 6);
    display: flex;
    text-align: center;
    overflow: scroll;
    grid-area: aside;   
    border-top: 20px solid rgb(128, 79, 6);
    border-bottom: 20px solid rgb(128, 79, 6);
    border-radius: 15px;

}

.contenedor img{
    padding: 15px;
    width: 80%;
} 

aside h2{
    background: rgba(231, 161, 135, 0.808);
    border-radius: 15px;
    color: rgb(0, 0, 0);
}

.contenedor__text{
    padding: 10px;
}

/* ----------------- LINK SUBIR ----------------- */

.subir{
    border-color: rgb(0, 0, 0);
    border-top: groove;
    border-bottom: groove;
    padding-bottom: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align:center; 
    grid-area: subir;
}

.subir a:hover{
    background-color: chocolate;
}

/* ------------------- FOOTER ------------------- */

footer{
    gap: 20px;
    font-size: 1.5rem;
    color: rgb(4, 7, 10);
    color: brown;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    grid-area: footer;
}

footer ul{
    display: flex;
    flex-direction: column;
}

h4{
    padding: 20px;
}

/*------------------- MEDIA 650 ----------------- */

@media (min-width: 650px){
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contendor-grid{
    grid-template-rows: 20vh 8vh 30vh repeat(2, 40vh) 2vh 10vh;
    }

    #main-index {
        grid-area: main;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 30% 40% 27% 3%;
        grid-template-areas:
            "banner banner"
            "nosotros aside"
            "nosotros aside"
            "subir subir";
    }

    /*------------------------ h1--------------------- */

    #titulo{
        background-color: rgba(184, 190, 202, 0.886);
        color: rgb(162, 113, 123);
        height: fit-content;
        justify-content: center;
        font-size: 1.5rem;
    }

    /* ---------------------- nosotros ------------------- */

    #seccion-nosotros{
        padding-top: 20px;
        border-radius: 15px;
        text-align: center;
        overflow: scroll;
    }

    .nosotros__img img{
        width: 55%;
    }

    /*---------------------- aside -----------------------*/

    .contenedor{
        border-color: rgb(145, 27, 47);
        border-style: groove;
        border-width: 5px;
        border-radius: 15px; 
        padding: 20px 15px 40px 30px;
    }
}

/*------------------- MEDIA 760 ----------------- */

@media (min-width: 760px){
    .contendor-grid{
    grid-template-rows: 15vh 10vh 30vh repeat(2, 40vh) 2vh 10vh;
    }

    #titulo{
        font-size: 2rem;
    }

    nav ul{
        display: flex;
        justify-content: center;
        justify-items: space-evenly;
        flex-direction: row;
        align-items: center;
    }

    nav ul li{
        margin-right: 30px;
    }

    nav ul li a{
        font-size: 1rem;
    }

    footer ul{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*------------------- MEDIA 1024 ---------------- */

@media (min-width: 1024px){
    .contendor-grid{
        grid-template-rows: 15vh 10vh 10vh repeat(2, 40vh) 2vh 10vh;
        }

    #titulo{
        font-size: 2.5rem;
    }

    nav ul li a{
        font-size: 1.5rem;
    }

    footer ul{
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* -------Banners web--------- */

.bannerTurnos{
    background: url(../imagenes/Turno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.bannerMapa{
    background: url(../imagenes/Mapa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 50vh;   
}

.bannerProfesionales{
    background: url(../imagenes/profecionales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.bannerEspecialidades{
    background: url(../imagenes/elementos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.bannerContacto{
    background: url(../imagenes/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: center;
}