* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.c-violeta {
    color: rgb(138, 10, 170);
}

.card img{
    height: fit-content;
    height: 500px;
}

/*----------Navegador---------- */
.navbar {
    background: linear-gradient(79deg, rgba(2, 0, 36, 1) 0%, rgba(3, 146, 212, 0.8127626050420168) 57%, rgba(0, 212, 255, 1) 100%);
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-brand {
    position: relative;
    animation-name: logoEnMovimiento;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.nav-link, .dropdown-item{
    color: aliceblue;
    font-size: 1.5rem;
}

.dropdown-item{
    color: black;
}

@keyframes logoEnMovimiento {
    0% {
        left: -150px;
    }

    100% {
        left: 150px;
    }
}

/*-----------Boton subir------------ */
.subir a {
    transition: 1s;
}

.subir a:hover {
    background-color: rgb(27, 112, 79);
}

/* -----------footer------------ */

footer {
    background-color: rgb(85, 156, 132);
}

footer a{
    font-size: 1.5rem;
}

footer ul li:hover {
    transform: scale(1.5);
    transition: all 1s linear;
}

/* ----------------Turnos------------ */
/* .titulo-turno{
    background: linear-gradient(rgb(85, 156, 132),rgba(0, 212, 255, 1));
} */

/* .text-turno{
    background: linear-gradient(rgba(0, 212, 255, 1),  rgb(85, 156, 132));
} */

.section-turnos{
    /* padding-bottom: 20px; */
    background: linear-gradient(rgba(0, 212, 255, 1),  rgb(162, 212, 196));
}

/* ---------------Mapa------------- */

.card-map{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    clip-path: circle(30%);
    transition-property: clip-path;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.container:hover .card-map {
    clip-path: circle(100%);
}