* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-image: url(../img/fondo.jpg);
    background-position: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------------- GRID --------------------*/

.contendor-grid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 23vh 7vh 30vh repeat(2, 50vh) 20vh 10vh;

    grid-template-areas:
        "header header"
        "h1 h1"
        "main main"
        "main main"
        "main main"
        "main main"
        "footer footer";
}

/* ---------------------HEADER----------------- */

header{
    background: linear-gradient(79deg, rgba(2,0,36,1) 0%, rgba(3,146,212,0.8127626050420168) 57%, rgba(0,212,255,1) 100%);
    color: rgb(26, 33, 39);
    position: sticky;
    top: 0;
    z-index: 2;
    height: fit-content;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
}

nav{
    display: flex;
    align-items: center;
    grid-area: nav;
}

nav ul li a{
    color: rgb(15, 14, 24);
    font-size: 1rem;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

a:hover{
    color: rgb(235, 225, 222);
}

/* ---------------- LOGO -------------------- */

.encabezado-imagen{
    display: flex;
    align-items: center;
}

/* ------------------ MAIN ------------------ */

#main-index{
    gap: 20px;
    padding: 20px;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 40% 27% 3%;
    grid-template-areas:
        "banner"
        "nosotros" 
        "aside"
        "subir";
}

/*------------------ TITULO H1 ------------------ */

#titulo{
    background: linear-gradient(8deg, rgba(177,174,238,1) 0%, rgba(178,233,148,1) 100%);
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    height: fit-content;
    margin: 1px;
    border-radius: 15px;
    box-shadow:10px 0px 20px 5px black;
    grid-area: h1;
}

/* -------------------BANNER INDEX--------------- */

.banner{
    background-image: url(../img/prevenir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    display: flex; 
    flex-wrap: wrap; 
    align-content:space-between;
    font-weight: bolder;
    grid-area: banner;
    box-shadow: 10px 0px 20px 5px black;
}

.banner h2{
    background-color: rgba(127, 219, 255, 0.253);
    font-size: 2.5rem;
}

.banner h2 span{
    color: rgb(92, 8, 8);
}

.banner-texto{
    color: hsl(240, 47%, 4%);
    background-color: rgba(127, 219, 255, 0.253);
    font-weight: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

/* -----------------NOSOTROS----------------- */

#seccion-nosotros{
    padding-top: 10px;
    grid-area: nosotros;
    display: flex;
    text-align: center;
    overflow: scroll;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
}

.nosotros__img img{
    padding: 20px;
    width: 100%;
}

.nosotros__titulo{
    background-color: rgba(116, 150, 97, 0.705);
    border-radius: 15px;
    font-size: 2.5rem;
    box-shadow:10px 10px 20px rgb(57, 148, 49);
}

.nosotros__parrafo {
    color: rgb(15, 13, 13);
    font-weight: 600;
}

/* --------------------ASIDE------------------ */

.contenedor{
    border-color: rgb(117, 114, 110);
    padding-top: 10px;
    color: rgb(128, 79, 6);
    display: flex;
    text-align: center;
    overflow: scroll;
    grid-area: aside;   
    border-top: 20px solid rgb(128, 79, 6);
    border-bottom: 20px solid rgb(128, 79, 6);
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
}

.contenedor img{
    padding: 15px;
    width: 80%;
} 

aside h2{
    background: rgba(231, 161, 135, 0.808);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-shadow:10px 10px 20px rgb(156, 97, 82);
}

.contenedor__text{
    padding: 10px;
}

/* ----------------- LINK SUBIR ----------------- */

.subir{
    border-color: rgb(0, 0, 0);
    border-top: groove;
    border-bottom: groove;
    padding-bottom: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align:center; 
    grid-area: subir;
}

.subir a:hover{
    background-color: chocolate;
}

/* ------------------- FOOTER ------------------- */

footer{
    background: radial-gradient(circle, rgba(237,215,215,1) 0%, rgba(10,3,3,1) 60%);
    gap: 20px;
    font-size: 1.5rem;
    color: rgb(4, 7, 10);
    color: brown;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    grid-area: footer;
}

footer ul{
    display: flex;
    flex-direction: column;
}

h4{
    padding: 20px;
}

/*------------------- MEDIA 650 ----------------- */

@media (min-width: 650px){
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contendor-grid{
    grid-template-rows: 20vh 8vh 30vh repeat(2, 40vh) 2vh 10vh;
    }

    #main-index {
        grid-area: main;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 30% 40% 27% 3%;
        grid-template-areas:
            "banner banner"
            "nosotros aside"
            "nosotros aside"
            "subir subir";
    }

    /*------------------------ h1--------------------- */

    #titulo{
        background-color: rgba(184, 190, 202, 0.886);
        height: fit-content;
        justify-content: center;
        font-size: 1.5rem;
    }

    /* ---------------------- nosotros ------------------- */

    #seccion-nosotros{
        padding-top: 20px;
        border-radius: 15px;
        text-align: center;
    }

    .nosotros__img img{
        width: 100%;
    }

    /*---------------------- aside -----------------------*/

    .contenedor{
        border-color: rgb(145, 27, 47);
        border-style: groove;
        border-width: 5px;
        border-radius: 15px; 
        padding: 20px 15px 40px 30px;
    }
}

/*------------------- MEDIA 760 ----------------- */

@media (min-width: 760px){
    .contendor-grid{
    grid-template-rows: 15vh 10vh 30vh repeat(2, 40vh) 2vh 10vh;
    }

    #titulo{
        font-size: 2rem;
    }

    nav ul{
        display: flex;
        justify-content: center;
        justify-items: space-evenly;
        flex-direction: row;
        align-items: center;
    }

    nav ul li{
        margin-right: 30px;
    }

    nav ul li a{
        font-size: 1rem;
    }

    #seccion-nosotros{
        padding-top: 20px;
        border-radius: 15px;
        text-align: center;
        overflow: scroll;
    }

    .contenedor{
        text-align: start;
    }

    footer{
        background: linear-gradient(180deg, rgba(237,215,215,1) 0%, rgba(10,3,3,1) 60%);
    }

    footer ul{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*------------------- MEDIA 1024 ---------------- */

@media (min-width: 1024px){
    .contendor-grid{
        grid-template-rows: 15vh 10vh 10vh repeat(2, 40vh) 2vh 10vh;
        }

    #titulo{
        font-size: 2.5rem;
    }

    nav ul li a{
        font-size: 1.5rem;
    }

    #seccion-nosotros{
        height: 100%;
        text-align: start;
    }



    .nosotros__img img{
        width: 80%;
    }

    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* ------------ Contacto ------------ */

.contenedor-contacto{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #110a0a;
background: #b8b8b8;
text-shadow: 4px 4px 5px #7A7A7A;
}

.bannerContacto{
    background: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 10px 0px 20px 5px black;
}

.texto-contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* -------------- WEB--------------- */



h3{
    color: midnightblue;
    font-size: 30px;
}

span, h4{
    color: rgb(191, 11, 197);
    font-weight: bolder;
}

form{
    text-align: center;
    color: rgb(28, 22, 110);
    font-weight: bolder;
}


/* -------Banners web--------- */

.bannerTurnos{
    background: url(../img/turno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.bannerMapa{
    background: url(../img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 50vh;   
}

.bannerProfesionales{
    background: url(../img/profecionales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.bannerEspecialidades{
    background: url(../img/elementos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}
