.card img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

// -----------Index------------
.card-nos{
    width: 100%;
}

.card-index {
    transition: scale 150ms ease;
    width: 400px;
}

// -----------contacto------------
.card-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    clip-path: circle(30%);
    transition-property: clip-path;
    transition-duration: 2s;
    transition-timing-function: linear;

    &, img {
        height: fit-content;
        height: 500px;
    }

    &:hover{
        clip-path: circle(100%);
    }
}

// --------Especialidades-----------
.cards-espe {
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    & p{
        font-size: 1.2rem;
    }
}

// --------Profesionales-----------
.contenedor-cards, .contenedor-cards1{
    object-fit:none;
    display: flex;
    background-color: rgb(52, 158, 158);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    & img{
    width: 400px;
    height: 300px;
    }
    & h3{
        margin: 10px;
    }
    & p{
        font-size: 1.2rem;
    }
}

.contenedor-cards1 img{
    width: 300px;
    height: 300px;
}